<h2> Welcome to CODEMates</h2>

<p class="about">Codemates is an place where people pursuing a career, or are currently working, as programmers can find like-minded individuals to share rent with. It aims to foster a collaborative, fun environment that will make learning code that much better. </p>