<form action="/housing" method="post">
  <label>Posts</label>
  <input type="text" name="post_content" placeholder="Find a roommate">
  <input type="submit">
  <ul>
	<% @post.each do |post| %>
  <li>
    <p><%= post.post_content %></p>
  </li>
  <%end%>
  </ul>
</form>