<h2>CODEMates</h2>

<form action="/housing" method="post">
  <%= @pickedcity %>
  <input type="text" name="post_content" placeholder="Find a roommate">
  <input type="submit" value="submit">

</form> 