<!DOCTYPE html>
<html>
<head>
  <title>Codem8s</title>
  <link type="text/css" rel="stylesheet" href="/styles.css">
  <header>
  </header>
</head>
<body>
	<% if current_user %> 
	<a href="/about">About</a>    
	<a href="/housing">See city posts</a>
	<a href="/profile">Profile</a>
	<a href="/pickacity">Pick a city</a>     
  	<a href="/session/logout">Logout</a>  
<% else %>                         
<% end %>
  <%= yield %>
</body>
</html>