<h1> Codem8s </h1>
<h2>Live, learn and have fun</h2>
<p>"What we learn with pleasure we never forget" - Alfred Mercier</p>
<div class="main">
<a href="/session/login">Log in</a>
<a href="/session/signup">Sign up</a>
</div>

<body class="mainpic" background="http://cdn.theatlantic.com/static/mt/assets/steven_heller/IMG_1077.jpg">
</body>
