<h1> Codem8s </h1>
<h2>Live, learn and have fun</h2>
<p>"What we learn with pleasure we never forget" - Alfred Mercier</p>
<div class="main">
<a href="/session/login">Log in</a>
<a href="/session/signup">Sign up</a>
</div>

<body class="mainpic" background="https://s3.amazonaws.com/uploads.hipchat.com/39979/1381817/4sP25uoBYxUnhLT/IMG_1077_v2.jpg">
</body>
