<h1> CODEMates </h1>

<section class="main">
<div>
<a href="/session/login">Log in</a>
<a href="/session/signup">Sign up</a>
</div>
</section>

<body class="mainpic" background="https://s3.amazonaws.com/uploads.hipchat.com/39979/1381817/4sP25uoBYxUnhLT/IMG_1077_v2.jpg">
</body>
