<form action="/session/signup" method="post">

 <% if @user.present? && @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
<section class="input">
  <div>
    <input type="text" name="user_name" placeholder="Name" />
  </div>
  <div>
    <input type="text" name="email" placeholder="Email" />
  </div>
  <div>
    <input type="password" name="password" placeholder="Password" />
  </div>
  <div>
    <input type="password" name="password_confirmation" placeholder="Password Confirmation" />
  </div>
  <div>
    <input type="text" name="program" placeholder="Coding Experience" />
  </div>
  <div>
    <input type="text" name="housing_preference" placeholder="What are you looking for in a roommate?"/>
  </div>
  <div>
    <input type="text" name="about_me" placeholder="Tell us about yourself" />
  </div>
  <div>
    <input type="submit" value="Sign Up!" />
  </div>
</section>
</form>