.mainpic {
	background-size: 1200px auto;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Lobster', cursive, Sans-serif;
	text-align: center;
	font-size: 90px;
	color: #A9D2D8;
	font-weight: 300;

}

.main {
	text-align: center;
	color: white;
	color: inherit;
	text-align: bottom;
	position: absolute; bottom: 20px;
}

.header {
	text-align: right;
	margin: 20px;
}

h2 {
	color: #A9D2D8;
	font-size: 40px;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-weight: 300; 
}

.profile {
	text-align: center;
	list-style-type: none;
}

.userauth {
	text-align: center;
}

.input {
	text-align: center;
}

.about {
	text-align: center;
	position: center;
	margin-right: 80px;
	margin-left: 80px;
}